.anchor-pane-with-background {
    -fx-background-image: url("../image/LoginBackground.png"); /* Reference to the image in the resources directory */
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.label-with-stroke {
    -fx-font-size: 40.0;
    -fx-font-family: "DejaVu Sans Bold";
    -fx-text-fill: black; /* Text color */
    -fx-stroke: #F8E2A9; /* Stroke color */
    -fx-stroke-width: 3; /* Stroke width */
    -fx-stroke-type: outside; /* Position of the stroke */

}
.text-field-with-gradient {
    -fx-background-color: linear-gradient(to bottom, rgba(92, 55, 0, 0.78), rgba(255, 196, 118, 0.8646),rgba(255, 196, 118, 0) );
    -fx-opacity: 0.58;
    -fx-border-color: rgba(0, 0, 0, 0.27);
    -fx-border-width: 2px;
    -fx-text-fill: black;
}
.label-hover-effect {
    -fx-text-fill: rgba(23, 23, 13, 0.51); /* Text color when hovering */
}

.label-hover-effect:hover {
    -fx-text-fill: rgba(92, 55, 0, 0.78); /* Text color on hover (red in this example) */
}
.button-with-gradient {
    -fx-background-color: linear-gradient(to bottom, rgba(92, 56, 0, 0.58), rgba(255, 196, 118, 0.8646), rgba(92, 55, 0, 0.72));
    -fx-text-fill: #090909; /* Text color for the button */
    -fx-text-stroke: #F8E2A9; /* Text stroke color */
    -fx-text-stroke-width: 2px; /* Text stroke width */
    -fx-border-color: rgba(0, 0, 0, 0.27); /* Border color */
    -fx-border-width: 2px; /* Border width */
}

.button-with-gradient:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(255, 196, 118, 0.9), rgba(138, 90, 20, 0.58), rgba(255, 196, 118, 0));
}