.anchor-pane-with-background {
    -fx-background-image: url("../image/background.png"); /* Reference to the image in the resources directory */
    -fx-background-size: cover;
    -fx-background-opacity: 0.2;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

}
.table-row-cell {
    -fx-background-color: rgba(246, 229, 205, 0.4);
    -fx-border-color: #F8E2A9;
    -fx-border-width: 1px;

    -fx-alignment: CENTER-CENTER;
}
.table-view .column-header {
    -fx-background-color: rgba(255, 216, 118, 0.9);
    -fx-alignment: CENTER-LEFT;
}
.anchor-pane-background-color-1{
    -fx-background-color: rgba(225, 217, 206, 0.33);

}