.anchor-pane-with-background {
    -fx-background-image: url("../image/background.png"); /* Reference to the image in the resources directory */
    -fx-background-size: cover;
    -fx-background-opacity: 0.2;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

}
.anchor-pane-with-background {
    -fx-background-image: url("../image/background.png"); /* Reference to the image in the resources directory */
    -fx-background-size: cover;
    -fx-background-opacity: 0.2;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

}
.table-view .column-header {
    -fx-background-color: rgba(236, 211, 176, 0.82);
    -fx-font-size: 14px;
}
.table-row-cell {
    -fx-background-color: rgba(246, 229, 205, 0.4746);
    -fx-border-color: #F8E2A9;
    -fx-border-width: 1px;
    -fx-font-size: 16px;
}
.button-with-gradient:hover {
    -fx-background-color: linear-gradient(to bottom, rgba(92, 55, 0, 0.9), rgba(255, 196, 118, 1), rgba(255, 196, 118, 0.9));
}
.table-cell-centered {
    -fx-alignment: CENTER;
}
